extends page-layout
block content
  - var title = "New Chatroom"
  - links = [{"href": sails.getUrlFor('UserController.index'), "name": "cancel"}]
  include template-parts/header.pug
  
  if errors
    each e in errors
      p #{e.error}
      
  div.container
    form(method="POST")
      div.input-field.col.s6
        label(for='chatname') name
        +formField('text', 'chatname', 'insert chat name')
      +formField('hidden', '_csrf')(value= _csrf)
      +formField('submit')(value="create", class="waves-effect waves-light btn")
    
