extends page-layout.pug 
block content
  - var title = chat.name + " | Settings"
  - var links = [{"href": sails.getUrlFor('ChatroomController.settingsEdit').replace(":chatroom", chat.id), "name": "Edit"},{"href": sails.getUrlFor('ChatroomController.show').replace(":chatroom", chat.id), "name": "Back"}]
  include template-parts/header.pug
  
  - var leaveURL = sails.getUrlFor('ChatroomController.leave')

  div#content.container
    ul#chatAdmins
      h5 Admin
        each admin in chat.admins
          li 
            small #{admin.username}
    
    h5 Members
    table#chatMembers 
    
      each member in chat.members
        tr 
          td #{member.username}
          td
      each member in chat.blocked
        tr 
          td #{member.username}
          td blocked        
       
    button#leave(data-action = leaveURL.replace(":chatroom", chat.id), class="waves-effect waves-light btn deep-orange accent-3") leave

block append scripts
  script(src="/js/chatroomSettings.js", autoConnect="false")
