extends page-layout.pug 
block content
  h1 Settings
    
  - var leaveUrl = sails.getUrlFor('ChatroomController.leave')
  

  form(method="POST", action = leaveUrl.replace(":chatroom", chat.id))
    +formField('submit')(value='leave')

  ul 
    h5 Members
    each member in chat.members
      li #{member.username}
    li
      button(id="addChatMember" type="button") add
