extends page-layout.pug 
block content
  h1 Settings
    h3 This is chat: #{chat.id}
    
  - var leaveUrl = sails.getUrlFor('ChatroomController.leave')
  

  form(method="POST", action = leaveUrl.replace(":chatroom", chat.id))
    +formField('submit')(value='leave')
