extends page-layout.pug 
block content
  h1 Welcome
  +a(sails.getUrlFor('UserController.settings'), 'settings')
  |
  |
  +a(sails.getUrlFor('UserController.logout'), 'logout')
  |
  |
  +a(sails.getUrlFor('ChatroomController.add'), 'New Chat')
  
  form(method='POST', action=sails.getUrlFor('UserController.dashboardSearch'))
    +formField('text', 'search')
    +formField('submit')(value="search")
     
  div.chatsContainer
    if chats
      - var chatUrl = sails.getUrlFor('ChatroomController.show')
      each chat in chats
        a(href=chatUrl.replace(':chatroom', chat.id)) 
          h3 #{chat.name}
        if chat.members
          ul
          each member in chat.members
            li #{member.username}
          
          
