extends page-layout.pug 
block content
    h1.
      Log in

    form(method='POST')
      +formField('text', 'username', 'username')
      +formField('password', 'password', 'password')
      +formField('submit')

    div
      p not a member yet? 
        a(
        href 
          = sails.getUrlFor('UserController.register')
        ) sign up
