extends page-layout.pug 
block content
    if errors
      each e in errors
        p #{e.error}
  
    h1.
      Log in

    form(method='POST')
      +formField('text', 'username', 'username')
      +formField('password', 'password', 'password')
      +formField('hidden', '_csrf')(value= _csrf)
      +formField('submit', 'login')(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect")
      

    div
      p not a member yet? 
        +a( sails.getUrlFor('UserController.register'), 'sign up')
