doctype
html
  head
    title.
      Ligo | Page
    //- #{title}
    block css
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
      // STYLES
      link(rel="stylesheet", href="/styles/materialize-css/dist/css/materialize.min.css")
      link(rel="stylesheet", href="/styles/importer.css")
      // STYLES END
      
  
  body   
    include mixins/form.pug 
    include mixins/hyperlink.pug 
    
    block content
      
    block scripts
      script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
      // SCRIPTS
      script(src="/js/dependencies/sails.io.js")
      script(src="/styles/materialize-css/dist/js/materialize.min.js")
      script(src="/js/dependencies/reqwest.min.js")
      // SCRIPTS END
    
