doctype
html
  head
    title.
      Ligo | Page
    //- #{title}
    block css
      // STYLES
      link(rel="stylesheet", href="/styles/material-design-lite/material.min.css")
      link(rel="stylesheet", href="/styles/importer.css")
      link(rel="stylesheet", href="/styles/style.css")
      // STYLES END
      
  body
    header
    include partials/form.pug 
    include partials/hyperlink.pug 
    div#content
      block content
      
    footer
      
    block scripts
      // SCRIPTS
      script(src="/js/dependencies/sails.io.js")
      script(src="/styles/material-design-lite/material.min.js")
      script(src="/js/chatroomSettings.js")
      // SCRIPTS END
    
