doctype
html
  head
    title.
      Ligo | Page
    //- #{title}
    block css
      //- Do the stuff with the grunt task to do it the sails way (tasks/config/sails-linker.js)
      link(rel="stylesheet", href= '/styles/style.css')
      
  body
    header
    include partials/form.pug  
    block content
      
    footer
      
    block scripts
    
