extends page-layout.pug 
block content
  h1.
    Sign up  
  
  form(method="POST")      
    +formField('text', 'username', 'username')
    +formField('password', 'password', 'password')
    +formField('password', 'repeat', 'repeat password')
    +formField('submit')
      
  div
    p already a member? 
       a(
       href 
         = sails.getUrlFor('UserController.login') 
        ) login
