extends page-layout.pug 
block content
  if errors
    each e in errors
      p #{e.error}
  
  h1.
    Sign up  
  
  form(method="POST")      
    +formField('text', 'username', 'username')
    +formField('password', 'password', 'password')
    +formField('password', 'repeat', 'repeat password')
    +formField('hidden', '_csrf')(value= _csrf)
    +formField('submit')
      
  div
    p already a member? 
       +a(sails.getUrlFor('UserController.login'), 'login')
