extends page-layout
block content
  - var links = [{"href": sails.getUrlFor('UserController.index'), "name": "Back"}]
  include template-parts/header.pug
  if errors
    each e in errors
      p #{e.error}
  
  h1.center #{user.username}
  form(method="POST", action=sails.getUrlFor('UserController.detailEditSave').replace(':username', user.username), class="col m6 center")
    if user.bio
      +formField('text', 'bio')(value= user.bio)
    else 
      +formField('text', 'bio')
    +formField('hidden', '_csrf')(value= _csrf)
    +formField('submit')(class="waves-effect waves-light btn col s6 center", value="save")
