extends page-layout
block content
  - var links = [{"href":sails.getUrlFor('UserController.index'), "name":"Dashboard"}]
  include template-parts/header.pug
  h1.center #{user.username}
  if user.bio 
    p.center #{user.bio}
