/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */


// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

/* Login & Signup content */
.login-signup-form {
  text-align: center;
}

.login-signup-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup-other-option {
  margin: 20px;
}

.login-signup-other-option p {
  padding: 0;
}

/* navbar */
.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

/* Dashboard */
.card-title {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 15px;
}

/* Error Page */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*  Message Bar */

.message-field {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}
